@layer theme, base, components, utilities;

@import url('tailwindcss/theme.css') layer(theme);

/* @import 'tailwindcss/preflight.css' layer(base); */
@import url('tailwindcss/utilities.css') layer(utilities);

@theme {
  --color-primary: var(--colorPrimary);
}
